.PC {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PC .div {
  background-color: #ffffff;
  width: 1200px;
  height: 1285px;
  position: relative;
}

.PC .footer {
  position: absolute;
  width: 1200px;
  height: 264px;
  top: 1021px;
  left: 0;
  background-color: #ffffff;
}

.PC .bi-vit-mi {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 30px;
  left: 495px;
}

.PC .text-wrapper {
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.PC .p {
  position: relative;
  width: 660px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.PC .text-wrapper-2 {
  font-weight: 500;
  color: #444444;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.PC .headline {
  display: flex;
  flex-direction: column;
  width: 415px;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 30px;
  left: 80px;
}

.PC .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
}

.PC .paragraph {
  position: relative;
  width: 415px;
  height: 116px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.PC .divider {
  position: absolute;
  width: 1200px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.PC .body {
  position: absolute;
  width: 1085px;
  height: 661px;
  top: 322px;
  left: 80px;
}

.PC .title {
  position: absolute;
  width: 1085px;
  height: 572px;
  top: 89px;
  left: 0;
}

.PC .element {
  position: absolute;
  width: 1085px;
  height: 99px;
  top: 473px;
  left: 0;
}

.PC .img {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 100px;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid;
  border-color: #45b1ff;
}

.PC .img-2 {
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.PC .details {
  display: flex;
  flex-direction: column;
  width: 854px;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 0;
  left: 196px;
}

.PC .data {
  width: 794px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.PC .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.PC .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

.PC .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.PC .element-2 {
  position: absolute;
  width: 1085px;
  height: 99px;
  top: 355px;
  left: 0;
}

.PC .data-2 {
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.PC .element-3 {
  position: absolute;
  width: 1085px;
  height: 99px;
  top: 237px;
  left: 0;
}

.PC .element-4 {
  position: absolute;
  width: 1085px;
  height: 99px;
  top: 118px;
  left: 0;
}

.PC .element-5 {
  position: absolute;
  width: 1085px;
  height: 99px;
  top: 0;
  left: 0;
}

.PC .data-3 {
  width: 854px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.PC .webpart-title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.PC .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--primary-black);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.PC .rectangle {
  height: 2px;
  background-color: #45b1ff;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.PC .header {
  position: absolute;
  width: 1200px;
  height: 278px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.PC .menu {
  position: absolute;
  width: 1200px;
  height: 84px;
  top: 194px;
  left: 0;
  background-color: var(--blue);
}

.PC .search-box {
  display: flex;
  width: 349px;
  align-items: center;
  gap: 12px;
  padding: 12px 56px 12px 40px;
  position: absolute;
  top: 22px;
  left: 816px;
  background-color: #45b1ff;
}

.PC .img-3 {
  position: relative;
  width: 20px;
  height: 20px;
}

.PC .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PC .nav-links {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 30px;
  left: 80px;
}

.PC .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.PC .overlap-group {
  position: absolute;
  width: 1200px;
  height: 194px;
  top: 0;
  left: 0;
  background-image: url(./img/banner.png);
  background-size: 100% 100%;
}

.PC .tiu {
  position: relative;
  width: 543px;
  height: 100px;
  top: 50px;
  left: 75px;
}

.PC .text-wrapper-10 {
  position: absolute;
  height: 60px;
  top: 20px;
  left: 123px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 60px;
  white-space: nowrap;
}

.PC .logo {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mobile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .div {
  background-color: #ffffff;
  width: 768px;
  height: 1664px;
  position: relative;
}

.mobile .body {
  position: absolute;
  width: 650px;
  height: 1007px;
  top: 126px;
  left: 59px;
}

.mobile .title {
  position: absolute;
  width: 650px;
  height: 920px;
  top: 87px;
  left: 0;
}

.mobile .element {
  position: absolute;
  width: 650px;
  height: 160px;
  top: 760px;
  left: 0;
}

.mobile .img {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 100px;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid;
  border-color: #45b1ff;
}

.mobile .img-2 {
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.mobile .details {
  display: flex;
  flex-direction: column;
  width: 414px;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 0;
  left: 196px;
}

.mobile .data {
  width: 414px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

.mobile .text-wrapper-2 {
  font-weight: 500;
  color: #444444;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.mobile .element-2 {
  position: absolute;
  width: 650px;
  height: 160px;
  top: 570px;
  left: 0;
}

.mobile .data-2 {
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.mobile .element-3 {
  position: absolute;
  width: 650px;
  height: 160px;
  top: 380px;
  left: 0;
}

.mobile .element-4 {
  position: absolute;
  width: 650px;
  height: 160px;
  top: 190px;
  left: 0;
}

.mobile .element-5 {
  position: absolute;
  width: 650px;
  height: 160px;
  top: 0;
  left: 0;
}

.mobile .webpart-title-mobi {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--primary-black);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .rectangle {
  height: 2px;
  background-color: #45b1ff;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.mobile .header {
  position: absolute;
  width: 768px;
  height: 84px;
  top: 0;
  left: 0;
  background-color: var(--blue);
  overflow: hidden;
}

.mobile .search-box {
  display: flex;
  width: 349px;
  align-items: center;
  gap: 12px;
  padding: 12px 56px 12px 40px;
  position: absolute;
  top: 22px;
  left: 816px;
  background-color: #45b1ff;
}

.mobile .img-3 {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -22px;
  margin-left: -2316px;
}

.mobile .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.mobile .nav-links {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 33px;
  left: 135px;
}

.mobile .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .image {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 17px;
  left: 59px;
  object-fit: cover;
}

.mobile .footer {
  position: absolute;
  width: 768px;
  height: 464px;
  top: 1200px;
  left: 0;
  background-color: #ffffff;
}

.mobile .bi-vit-mi {
  display: flex;
  flex-direction: column;
  width: 660px;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 194px;
  left: 54px;
}

.mobile .text-wrapper-6 {
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
}

.mobile .text-wrapper-7 {
  position: relative;
  width: 660px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #444444;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.mobile .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.mobile .headline {
  display: flex;
  flex-direction: column;
  width: 415px;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 25px;
  left: 54px;
}

.mobile .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: normal;
}

.mobile .paragraph {
  position: relative;
  width: 415px;
  height: 116px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.mobile .divider {
  position: absolute;
  width: 768px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}
