:root {
  --primary-black: rgba(36, 36, 36, 1);
  --white: rgba(255, 255, 255, 1);
  --blue: rgba(20, 155, 252, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --variable-collection-spacing-s: 24px;
}
